@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff; */
  --background: #0f0f23;
  /* --foreground: #0f0f23; */
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f23;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.009) 10px,
    rgba(255, 255, 255, 0.009) 20px
  );
  animation: moveLines 2s linear infinite;
  pointer-events: none; /* Ensure the lines don't interfere with interactions */
}

@keyframes moveLines {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

::selection {
  background: transparent; /* Prevent background color change on text selection */
}

/* disciplineBox.css */
.discipline-box {
  text-shadow: 0 0 10px white;
  color: #01e201; /* Retro green color */
  display: inline-block;
  transition: transform 0.2s;
  transform-origin: left;
}

.discipline-box:hover {
  transform: scale(1.1); /* Slightly enlarge on hover for effect */
}

.discipline-box a {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline from link */
}

/* @keyframes blink {
  0% {
    background-color: #0f0f23;
  }
  50% {
    background-color: #1a1a2e;
  }
  100% {
    background-color: #0f0f23;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  animation: blink 5s infinite;
} */
